{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">I'm an Electrical and software Engineer.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Experienced software and electrical engineer proficient in Python, C++, and JavaScript, skilled in both frontend and backend development. 
         <p> Focused on enhancing team success through diligent work, meticulous attention to detail, and outstanding organizational skills.</p> 
        <p>Possesses a comprehensive understanding of electrical engineering, high-quality code, innovative technologies, renewables, and energy management!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
